<p>Hey there,</p>
<p><b><%= @submission.name %></b> (<%= @submission.email %>) just submitted the form on janczizikow.com/contact. Here's what they had to say:</p>
<p><%= @submission.message %></p>
<p>The form was submitted at <%= @submission.created_at %></p>
